*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  background: #2c3e50;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 30px 0;
  color: #fff;
}

.tab-wrap {
  width: 60%;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 50px;
  position: relative;
}

.tab-wrap input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-wrap li {
  float: left;
  display: block;
}

.tab-wrap label {
  background: #f39c12;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-radius:3px 3px 0 0;
  margin: 0 10px 0 0px;
  padding: 1em 1.5em;
  cursor: pointer;

}

.tab-wrap .tab-content {
  background: #fff;
  width: 100%;
  border-radius:0 3px 3px 3px;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 20px;
  display: none;
}

.tab-wrap [id^="tab"]:checked + label {
  background: #fff;
}

.tab-wrap [id^="tab"]:checked ~ .tab-content{
  display: block;
}